
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    src: local('Arial font'), url('../src/component//font/arialn.ttf') format('ttf');
  }
*{
    font-family: 'Poppins', sans-serif;
    font-family: Arial , sans-serif;
 }
span {
    color: #24ffc4;
}
a {
    text-decoration: none;
}
p{
 font-size: 16px;
 line-height: 24px;
}
.body-main {
    padding-top: 90px;
}

h3 {
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 0px;
}

@media (max-width:1200px) {
.body-main {
    padding: 90px 10px 0px 10px;
}
}
.loader{
    
}