.flex_blog{
   display: flex; 
}
.blog_title{
    width: 50%;
    padding: 10px;
    height: 2.4rem;
    border: 2px solid gray;
    border-radius: 5px;

}
.give_margin{
    justify-content: right;
}
.btn_box{
   display: flex;
}