.career_inp{
    color: black !important;
}
.flex_career{
    display: flex;
    
}



@media (max-width: 581px) {
    .flex_career{
      display: flex;
      flex-direction: column !important;
      
  }
  }