.inputlabel{
    width: 100%;
}
.files{
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}
.file_in label{
    display: block;
    position: relative;
    width: 300px;
    height: 45px;
    border-radius: 5px;
    background: linear-gradient(to top right,#0661FF,#010101);
    box-shadow: 0 4px 7px rgb(0 0 0 / 40%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 18px;
    transition: transform .2s ease-out;
}
.submitbtn{
    
}

  
  /* .editor-wrapper {
    width: 768px;
    border: 1px solid black;
    background: #fff;
    padding: 1rem;
  }
  
  .editor-container {
    width: 100%;
    border: 1px solid green !important;
    padding: 2rem;
  }
  
  .toolbar-grid {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 1fr 1fr;
  } */
  
  /* button {
    margin-right: 8px;
    font-size: 1rem;
    padding: 10px;
    border: none;
    background: #fff;
    cursor: pointer;
  }
   */
  /* .superFancyBlockquote {
    color: #999;
    background: #fff;
    font-family: "Hoefler Text", Georgia, serif;
    font-style: italic;
    border-left: 2px solid #999;
    padding-left: 10px;
  }
  
  .codeBlock {
    font-family: fira-code, monospace;
    font-size: inherit;
    background: #ffeff0;
    font-style: italic;
    word-wrap: normal;
    word-wrap: break-word;
    box-decoration-break: slice;
    padding: 0.3rem 2rem;
    border-radius: 0.2rem;
  } */
/*   
  .leftAlign {
    text-align: left;
  }
  .rightAlign {
    text-align: right;
  }
  .centerAlign {
    text-align: center;
  }
  .justifyAlign {
    text-align: justify;
  } */
  