.challenge-heading {
    text-align: center;
    color: "white"
}


.challenge-heading h1 {
    font-family: Audiowide, Regular;
    color: white;
    margin-bottom: 50px;
}

.displaybr {
    display: block;
}


.sideNavbar, .sideNavbar2 {

    height: 100vh;
    width: 20vw;
    /* background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
Created with https://www.css-gradient.com */

    /* Created with https://www.css-gradient.com */
    /* Created with https://www.css-gradient.com */
    background: #010101;
    background: -webkit-linear-gradient(bottom left, #010101, #0661FF);
    background: -moz-linear-gradient(bottom left, #010101, #0661FF);
    background: linear-gradient(to top right, #010101, #0661FF);
}

.navcontent {
    padding-top: 30px;
}

.adt {
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

.adt2 {
    margin-left: 13px;
    color: white;
    text-decoration: none;
}

.adt23 {
    margin-left: 11px;
    color: white;
    text-decoration: none;
}



.iconA {
    color: white;
}

.ad {
    color: red;
    font-weight: 800;
    cursor: pointer;
}

.iconbar {
    display: none !important;
}

.iconcross {
    display: none !important;
}

/* .................media start..................... */
@media (max-width: 950px) {
    .logoimg img {
        width: 13vw;
    }
}

@media (max-width: 700px) {
    .iconA {
        display: none;
    }

    .adt, .adt23 {
        margin-left: 0px;
    }

    .adt2 {
        margin-left: 0px;

    }

    .logoimg img {
        width: 13vw;
    }

    @media (max-width: 580px) {
        .iconA {
            display: block;
        }

        .logoimg img {
            width: 20vw;
        }

        .adt, .adt2, .adt23 {
            font-size: 15px;
        }

        .iconbar {
            display: block !important;
            /* position: relative;
            top: 10px;
            left: 20px; */
            
            padding: 10px;
            margin: 0 auto;
            color: white;
            font-size: 20px;
            /*             
            background: #010101;
            background: -webkit-linear-gradient(bottom left, #010101, #0661FF);
            background: -moz-linear-gradient(bottom left, #010101, #0661FF);
            background: linear-gradient(to top right, #010101, #0661FF); */

        }

        .iconbar_bg {
            position: relative;
            background: #010101;
            background: -webkit-linear-gradient(bottom left, #010101, #0661FF);
            background: -moz-linear-gradient(bottom left, #010101, #0661FF);
            background: linear-gradient(to top right, #010101, #0661FF);
            width: 40px;
            margin-left: 5px;
            margin-top: 10px;
            border-radius: 5px;

        }

        .sideNavbar {
            position: absolute;
            left: -1000px;

        }

        .sideNavbar2 {
            position: relative;
            top: -50px;
            left: 0;
            height: 130vh;
            width: 100%;
            background: #010101;
            background: -webkit-linear-gradient(bottom left, #010101, #0661FF);
            background: -moz-linear-gradient(bottom left, #010101, #0661FF);
            background: linear-gradient(to top right, #010101, #0661FF);
            z-index: 9999;

        }

        .iconcross {
            display: block !important;
            position: absolute;
            right: 0;
            color: white;
        }
    }

    /* @media (max-width: 490px) {
            .logoimg img {
                display: none;
            }

            .adt, .adt2, .adt23 {
                font-size: 10px;
            }
        } */

    @media(max-width: 461px) {
        .sideNavbar {
            height: 125vh;
        }

        .logoutadmin {
            position: fixed;
            bottom: 20px;
            left: 20px;

        }

    }

    @media (max-width: 375px) {

        .adt, .adt2, .adt23 {
            font-size: 8px;
        }
    }
}