#Blog-sewction {
    padding: 60px 0px 60px 0px;
}
.Blog-right {
    border-top: 2px solid #000;
    padding-top: 25px;
}
#Blog-sewction .Blog-left {
    position: relative;
    padding-right: 30px;    
}
#Blog-sewction .BContent {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    padding: 20px;
    max-width: 485px;
}
#Blog-sewction .BlogImg img {
    width: 100%;
}
#Blog-sewction .BContent h3 {
    font-size: 12px;
    line-height: 35px;
    text-transform: uppercase;
    color: #8c8c8c;
    font-weight: 700;
    font-family: 'Arial Bold', sans-serif;
    margin-bottom: 0px;
}

#Blog-sewction .BContent p {
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: capitalize;
    max-width: 465px;
    margin: auto;
}
#Blog-sewction .BContent a {
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    font-family: 'Arial Bold', sans-serif;
    text-transform: capitalize;
    max-width: 465px;
    margin: auto;
    color: #000;
    text-decoration: none;
}
#Blog-sewction .BContent i {
    background-color: #012f8d;
    padding: 4px 10px;
    color: #fff;
    font-size: 22px;
}

#Blog-sewction .Blog-heading h3 {
    position: relative;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    font-weight: 600;
    font-family: 'Arial Bold', sans-serif;
}
#Blog-sewction .Blog-heading h3:before {
    content: '';
    width: 54px;
    height: 3px;
    background-color: #01318d;
    position: absolute;
    bottom: -9px;
}
.Blog-MRead {
    padding-top: 30px;
}
.Blog-mread1 h3 {
    font-size: 12px;
    line-height: 35px;
    text-transform: uppercase;
    color: #8c8c8c;
    font-weight: 600;
    font-family: 'Arial Bold', sans-serif;
}
.Blog-mread1 p {
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    font-weight: 700;
    font-family: Arial , sans-serif;
}
.Blog-mread1 {
    padding-bottom: 20px;
    border-bottom: dotted 2px #ddd;
    padding-top:20px;
}

/* blog slider  */


/* Investing section start  */

#BInvest-section {
    padding: 40px 0px 40px 0px;
    /* background-image: url(./Images/Invets-shap.png);    */
    background-size: auto;
    background-position: left;
    background-repeat: no-repeat;
    padding: 40px 0px 0px 0px;
    margin: 40px 0px;
}
#BInvest-section .Binveshape {
    position: relative;
}
#BInvest-section .Binveshape:before {
    content: '';
    background-color: #fff;
    width: 1152px;
    height: auto;
    position: absolute;
    box-shadow: -80px -80px 100px rgb(0 0 0 / 4%);
    top: 73px;
    left: 0;
}
#BInvest-section .BInvest-rigth{
    background-image: url(./Images/Invest-bg.png);
    background-size: auto;
    background-position: top right;
    background-repeat: no-repeat;
    padding: 40px 0px 0px 0px;
}
#BInvest-section .Binveshape{
    position: relative;
}
#BInvest-section .Binveshape:before {
    content: '';
    background-color: #fff;
    width: 1152px;
    height:100%;
    position: absolute;
    box-shadow: -80px -80px 100px rgb(0 0 0 / 4%);
    top: 65px;
    right: 0;
}
#BInvest-section .section-head {
    position: relative;
}
#BInvest-section .section-head h2 {
    color: #1F286F;
    font-family: "Montserrat", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 50px;
    text-transform: uppercase;
   padding-left: 50px;
}
#BInvest-section .BInvest-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 45px;
}
#BInvest-section .bInvest-img img {
    width: 100%;
}
#BInvest-section .Binvest-item1 h4 {
    font-size: 12px;
    line-height: 35px;
    text-transform: uppercase;
    color: #8c8c8c;
    font-weight: 600;
    font-family: 'Arial Bold', sans-serif;
    margin-bottom: 0px;
    margin-top: 10px;
}

#BInvest-section .Binvest-item1 p {
    font-size: 20px;
    line-height: 28px;
    color: #1F286F;
    font-weight: 700;
    font-family: 'Arial Bold', sans-serif;
}
#BInvest-section .text-vertical {
    position: relative;
}
#BInvest-section .text-vertical h3 {
    font-size: 87px;
    line-height: 97px;
    color: #f7f7f7;
    font-weight: 800;
    font-family: "Montserrat";
    transform: rotate(90deg);
    position: absolute;
    top: 121px;
    right: -157px;
}
#BInvest-section .BInvest-btn {
    padding-top: 40px;
}
#BInvest-section .BInvest-btn a {
    font-size: 14px;
    line-height: 28px;
    color: #1A3073;
    font-weight: 600;
    font-family: "Montserrat";
}
#BInvest-section button.BInvst {
    padding: 6px 20px;
    border: 1px solid #1A3073;
    background-color: #fff;
    background-color: #fff;
    border-width: 2px 2px 2px 2px;
    border-radius: 7px 7px 7px 7px;
}   
#BInvest-section:hover button.BInvst{
    border: 2px solid #0F71F2;
}  
#BInvest-section:hover a{
    color: #0F71F2;
}

#BInvest-section .Latest-title h3 {
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    font-weight: 600;
    font-family: "Montserrat";
}
/* Investing section end  */




/* blog letetst slider start */
section#Blog-slider {
    padding: 40px 0px 40px 0px;
}
h4.time-head {
    font-size: 12px;
    line-height: 35px;
    text-transform: uppercase;
    color: #C79F62;
    font-weight: 600;
    margin-bottom: 0px;
    padding-top: 20px;
}
div#Latest-slider h3 {
    font-size: 20px;
    line-height: 28px;
    color: #1F286F;
    font-weight: 600;
    font-family: 'Arial Bold', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    padding-bottom: 0px;
}
 /* h3{
    padding-bottom: 40px;
} */
#Blog-slider .Latest-title{
    padding-bottom:0px;
}
div#Latest-slider p {
    font-size: 14px;
    line-height: 24px;
    color: #616161;
    font-weight: 400;
    font-family: "Open Sans";
}
#Latest-slider {
    text-align: left;
}
div#Latest-slider {
    text-align: left;
    overflow: hidden;
    height: 430px;
}
.Letestslide .swiper {
    width: 100%;
    height: 100%;
    overflow: visible;
  }

#Blog-slider .guidslide {
    padding-left:0px;
    margin-top: -35px;
}
#Blog-slider .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: -1% !important;
}   
#Blog-slider .guidslide .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 12px;
}
#Blog-slider .guidslide .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 12px;
}
#Blog-slider .guidslide .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 15%;
    right: auto;
}
#Blog-slider.guidslide  .swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: inherit;
    list-style: none;
    padding: 0;
    z-index: 1;
}
#Blog-slider .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: -14%;
    left: 20%;
}
#Blog-slider .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 5% !important;
}

/* blog letetst slider end */


  /* planing section satrt */
  #Planning-section {
    padding: 40px 0px 40px 0px;
    margin: 40px 0px;
}
#Planning-section .BInvest-rigth{
    background-image: url(./Images/planing-shape.png);
    background-size: auto;
    background-position: top left;
    background-repeat: no-repeat;
    padding:40px 0px 0px 0px;
}
#Planning-section .Binveshape{
    position: relative;
}
#Planning-section .Binveshape:before {
    content: '';
    background-color: #fff;
    width: 1152px;
    height: 100%;
    position: absolute;
    box-shadow: -80px -80px 100px rgb(0 0 0 / 4%);
    top:65px;
    right: 0;
}
#Planning-section .section-head {
    position: relative;
}
#Planning-section .section-head h2 {
    color: #1A3073;
    font-family: "Montserrat", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 50px;
    text-transform: uppercase;
    text-align: right;
    padding-right: 50px;

}
#Planning-section .BInvest-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 45px;
}
#Planning-section .bInvest-img img {
    width: 100%;
}
#Planning-section .Binvest-item1 h4 {
    font-size: 12px;
    line-height: 35px;
    text-transform: uppercase;
    color: #8c8c8c;
    font-weight: 600;
    font-family: 'Arial Bold', sans-serif;
    margin-bottom: 0px;
    margin-top: 10px;
}

#Planning-section .Binvest-item1 p {
    font-size: 20px;
    line-height: 28px;
    color: #1F286F;
    font-weight: 700;
    font-family: 'Arial Bold', sans-serif;
}
.text-vertical {
    position: relative;
}
#Planning-section .text-vertical h3 {
    font-size: 87px;
    line-height: 97px;
    color: #f7f7f7;
    font-weight: 800;
    font-family: 'Arial Bold', sans-serif;
    transform: rotate(-90deg);
    position: absolute;
    top: 95px;
    right: -138px;
}
#Planning-section .BInvest-btn a {
    font-size: 14px;
    line-height: 28px;
    color: #1A3073;
    font-weight: 600;    
    text-decoration: none;
}
#Planning-section button.BInvst {
    padding: 6px 20px;
    border: 2px solid #1A3073;
    background-color: #f7f7f7;
    border-width: 2px 2px 2px 2px;
    border-radius: 7px 7px 7px 7px;
}  

#Planning-section:hover button.BInvst{
    border: 2px solid #0F71F2;
}  
#Planning-section:hover a{
    color: #0F71F2;
}
#Planning-section .Latest-title h3 {
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    font-weight: 600;
    font-family: 'Arial Bold', sans-serif;
}

   /* planing section end */


/* Investing section start  */

#Saving-section{
    padding: 40px 0px 40px 0px;
    /* background-image: url(./Images/Invets-shap.png);    */
    background-size: auto;
    background-position: left;
    background-repeat: no-repeat;
    padding: 5px 0px 40px 0px;
    margin: 40px 0px;
}
#Saving-section  .Binveshape{
    position: relative;
}
#Saving-section  .Binveshape:before {
    content: '';
    background-color:#fff;
    width: 1152px;
    height: 100%;
    position: absolute;
    box-shadow: -80px -80px 100px rgb(0 0 0 / 4%);
    left: 0px;
    top: 65px;
}
#Saving-section .BInvest-rigth{
    background-image: url(./Images/Invest-bg.png);
    background-size: auto;
    background-position: top right;
    background-repeat: no-repeat;
    padding: 40px 0px 0px 0px;
}
#Saving-section .section-head {
    position: relative;
}
#Saving-section .section-head h2 {
    color: #1A3073;
    font-family: "Montserrat", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 50px;
    text-transform: uppercase;
    padding-left: 50px;
}
#Saving-section .BInvest-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 45px;
}
#Saving-section .bInvest-img img {
    width: 100%;
}
#Saving-section .Binvest-item1 h4 {
    font-size: 12px;
    line-height: 35px;
    text-transform: uppercase;
    color: #8c8c8c;
    font-weight: 600;
    font-family: 'Arial Bold', sans-serif;
    margin-bottom: 0px;
    margin-top: 10px;
}

#Saving-section .Binvest-item1 p {
    font-size: 20px;
    line-height: 28px;
    color: #1F286F;
    font-weight: 700;
    font-family: 'Arial Bold', sans-serif;
}
#Saving-section .text-vertical {
    position: relative;
}
#Saving-section .text-vertical h3 {
    font-size: 87px;
    line-height: 97px;
    color: #f7f7f7;
    font-weight: 800;
    font-family: 'Arial Bold', sans-serif;
    transform: rotate(90deg);
    position: absolute;
    top: 39px;
    right: -94px;
}
#Saving-section .BInvest-btn a {
    font-size: 14px;
    line-height: 28px;
    color:#1A3073;
    font-weight: 600;
    font-family: "Montserrat";
}
#Saving-section button.BInvst { 
    padding: 6px 20px;
    border: 2px solid #1A3073;
    background-color: #f7f7f7;
    border-width: 2px 2px 2px 2px;
    border-radius: 7px 7px 7px 7px;
}   
#Saving-section:hover button.BInvst{
    border: 2px solid #0F71F2;
}  
#Saving-section:hover a{
    color: #0F71F2;
}
#Saving-section .Latest-title h3 {
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    font-weight: 600;
    font-family: 'Arial Bold', sans-serif;
}
/* saving section end  */



  /* planing section satrt */
  #Industry-section {
    padding: 40px 0px 30px 0px;
    margin: 40px 0px;   
    margin-top: -80px;

}
#Industry-section .BInvest-rigth{
    background-image: url(./Images/planing-shape.png);
    background-size: auto;
    background-position: top left;
    background-repeat: no-repeat;
    padding: 40px 0px 40px 0px;
}
#Industry-section  .Binveshape{
    position: relative;
}
#Industry-section .Binveshape:before {
    content: '';
    background-color: #fff;
    width: 1152px;
    height:100%;
    position: absolute;
    box-shadow: -80px -80px 100px rgb(0 0 0 / 4%);
    right: 0px;  
    top: 65px;  
}

#Industry-section .section-head h2 {
    position: relative;
}
#Industry-section .section-head h2 {
    color: #1A3073;
    font-family: "Montserrat", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 50px;
    text-transform: uppercase;
    text-align: right;
    padding-right: 50px;

}
#Industry-section .BInvest-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 45px;
}
#Industry-section .bInvest-img img {
    width: 100%;
}
#Industry-section .Binvest-item1 h4 {
    font-size: 12px;
    line-height: 35px;
    text-transform: uppercase;
    color: #8c8c8c;
    font-weight: 600;
    font-family: 'Arial Bold', sans-serif;
    margin-bottom: 0px;
    margin-top: 10px;
}

#Industry-section .Binvest-item1 p {
    font-size: 20px;
    line-height: 28px;
    color: #1F286F;
    font-weight: 600;
    font-family: 'Arial Bold', sans-serif;
}
#Industry-section .text-vertical {
    position: relative;
}
#Industry-section .text-vertical h3 {
    font-size: 87px;
    line-height: 97px;
    color: #f7f7f7;
    font-weight: 800;
    font-family: 'Arial Bold', sans-serif;
    transform: rotate(-90deg);
    position: absolute;
    top: 300px;
    right: -335px;  
}
#Industry-section .BInvest-btn a {
    font-size: 14px;
    line-height: 28px;
    color: #1A3073;
    font-weight: 600;
    text-decoration: none;
}
#Industry-section button.BInvst {
    padding: 6px 20px;
    border: 2px solid #1A3073;
    background-color: #f7f7f7;
    border-width: 2px 2px 2px 2px;
    border-radius: 7px 7px 7px 7px;
} 
#Industry-section:hover button.BInvst{
    border: 2px solid #0F71F2;
}  
#Industry-section:hover a{
    color: #0F71F2;
}
#Industry-section    .Latest-title h3 {
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    font-weight: 600;
    font-family: 'Arial Bold', sans-serif;
}
#Industry-section .BInvest-btn {
    padding-top: 30px;
}
#Guidsldier-sec .guidslide .swiper {
    padding-top:0px;
}
#Guid-section .swiper {
    overflow: hidden;
}   
 /* Industry  section end */


   /* guid sldier Start*/

   .Guidsldier-sec {
    padding:0px;
    }
    #Guidsldier-sec .swiper {
        width: 100%;
        height: 100%;
      }
      
      #Guidsldier-sec .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
      
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      #guid-slider .swiper-wrapper {
        transform: translate3d(-1204.5px, 0px, 0px) !important;
      }
      #Guidsldier-sec .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .Letestslide .swiper {
        width: 100%;
        height: 100%;
        overflow: visible;
      }
      .Guid-head h3{
        position: relative;
      }
      .Guid-head h3:before {
        position: absolute;
        content: '';
        width: 78px;
        height: 2px;
        background-color: #02318e;
        bottom: 20%;
    }
     /* .Letestslide  .swiper-wrapper {
        transform: translate3d(-1204.5px, 0px, 0px) !important;
    } */
    
    
    .Letestslide .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: -50px;
        left: 0;
        width: 100%;
        display: none;
    }
    
    .Letestslide .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
      
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      
      .Letestslide .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .guidslide {
        padding-left: 100px;
    }
      .guidslide .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: 5% !important;
        width: 45px;
        height: 45px;
        margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        background-color: #ddd;
        border-radius: 25px;
    }
    .guidslide .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        content: 'next';
        font-size: 12px;
    }
    .guidslide .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        content: 'prev';
        font-size: 12px;
    }
    .guidslide .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: 90%;
        right: auto;
        top: -50px;
    }
    .guidslide  .swiper {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow:inherit;
        list-style: none;
        padding: 0;
        z-index: 1;
        padding-top:72px;  
    }
    .guid-ct h3 {
        font-size: 30px;
        line-height: 36px;
        color: #000000;
        font-weight: 600;
        font-family: 'Arial Bold', sans-serif;
    }
    #Guid-section .latest-img img {
        width: 37%;
    }
    .guid-ct span {
        color: #1F286F;
        display: block;
        margin-top: -30px;
    }
    .guid-ct p {
        font-size: 14px;
        line-height: 24px;
    }
    .slide-btn a {
        color: #1F286F;
        text-decoration: none;
    }
    button.guidbr {
        border: none;
        background-color: transparent;
        font-size: 12px;
        line-height: 24px;
        text-transform: uppercase;
        color: #02318e;
        font-weight: 600;
        font-family: "Montserrat";
        border-bottom: 1px solid;
        padding: 0px;
        padding-top: 20px;
        margin-bottom: 28px;
    }

    .latest-img {
        text-align: right;
    }
   .guidslide  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        display: none;
    }
    #Guid-section{
        background-image: url(./Images/guid-slider-sape.png);
        background-position: bottom;
        background-repeat: no-repeat;
        padding: 40px 0px 40px 0px;
    }
    .Guid-head h3 {
        font-size: 70px;
        letter-spacing: -3px;
        line-height: 102px;
        color: #f8f8f8;
        font-weight: 900;
        font-family: 'Arial Bold', sans-serif;
        position: absolute;
        
    }
    /* Guid sldier  End */

    .Letmain .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        display: none;
    }
    .Letmain .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: -9%;
        width: 45px;
        height:45px;
        margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--swiper-navigation-color,var(--swiper-theme-color));
    }
    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: -9%;
        width: 45px;
        height: 45px;
        margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color:#000;
        background-color: #ddd;
        border-radius: 25px;
    }
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        content: 'next';
        font-size: 16px;
    }
    .Letestslide {
        padding-top: 40px;
    }
    .Letestslide .swiper-button-next{
        top: -9%;
        right: 74%;
    }
    .Letestslide .swiper-button-prev {
        right: 74%;
    }
    .swiper-button-next, .swiper-button-prev {
        background-color: #fff !important;
        border-radius: 25px !important;
        border: 1px solid #ddd;
        width: 40px !important;
        height: 40px !important;
        color: #000 !important;
    }
    /* .swiper {
        overflow: hidden !important;
    } */
    .tag {
        text-align: center;
    }
      
    .slick-slide img {
        margin: auto;
        width:100% !important;
        height: 50%;
    }
    .slick-track{
        width:100%;
    }
    
    /* resposnive */
   



    @media (max-width:992px) {
        #Planning-section .BInvest-grid {
            grid-template-columns: repeat(2,1fr);
            grid-gap:20px;
        }
        #Blog-sewction {
            padding: 45px 0;
        }
        #Planning-section .BInvest-btn {
            padding-top: 30px;
        }
       

        #Saving-section .BInvest-grid {
            grid-gap: 20px;
            grid-template-columns: repeat(2,1fr);
        }
        #Saving-section .BInvest-btn {
            padding-top: 30px;
        }
        #Industry-section .BInvest-btn {
            padding-top: 40px;
        }

        
        #Industry-section .BInvest-grid {
            grid-gap: 20px;
            grid-template-columns: repeat(2,1fr);
        }
      
      }

      @media (max-width:767px) {
        #Saving-section {
            padding: 30px 0px;
        }
        .Blog-right {
            padding-top: 30px;
        }
        .Blog-MRead {
            padding-top: 10px;
        }
        #Blog-sewction {
            padding: 30px 0;
        }
        #BInvest-section {
            margin: 0px 0px;
        }
        #BInvest-section .BInvest-grid {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 20px;
        }
        #BInvest-section .text-vertical h3 {
            transform: rotate(360deg);
            right: 0px;
            font-size: 45px;
            line-height: 86px;
        }
        #Planning-section .text-vertical h3 {
            transform: rotate(360deg);
            top: -82px;
            right: 0px;
            font-size: 45px;
            line-height: 86px;
        }
        #Industry-section .text-vertical h3 {
            transform: rotate(360deg);
            top: -82px;
            right: 0px;
            font-size: 45px;
            line-height: 86px;
        }
        #Saving-section .text-vertical h3 {
            transform: rotate(360deg);
            top: 125px;
            right: 0px;
            font-size: 45px;
            line-height: 86px;
        }
        #Industry-section .section-head h2 {
            text-align: center;
        }
        #BInvest-section .section-head h2 {
            padding-bottom: 10px;
        }
        #Planning-section ,  #BInvest-section ,  #Saving-section , #Industry-section  .BInvest-btn {
            text-align: center;
        }
        #Planning-section ,  #BInvest-section ,  #Saving-section , #Industry-section {
            padding: 30px 0px !important;
            margin: 0px !important;
        }   
        #Blog-sewction .BContent {
            max-width: 100%;
            box-shadow: 0px 0px 2px #00000054;
        }

        #Blog-sewction .Blog-heading h3 {
            text-align: center;
        }
        #Blog-sewction .Blog-heading h3:before {
            width: 134px;
        }
      }

      @media (max-width:667px) {
      #Planning-section .section-head h2 {
        font-size: 30px;
        text-align: center;
        line-height: 42px;
    }

    #Planning-section {
        padding: 30px 0px 30px 0px;
        margin: 0px;
    }
    #BInvest-section {
        padding: 30px 0px 30px 0px;
        margin: 0px 0px;
    }
}

      @media (max-width:500px) {
        #Industry-section .BInvest-grid {
            grid-gap: 20px;
            grid-template-columns: repeat(1,1fr);
        }
        #Saving-section .BInvest-grid {
            grid-gap: 20px;
            grid-template-columns: repeat(1,1fr);
        }
        #Planning-section .BInvest-grid {
            grid-template-columns: repeat(1,1fr);
            grid-gap: 20px;
        }
        #BInvest-section .BInvest-grid {
            grid-template-columns: repeat(1,1fr);
            grid-gap: 20px;
        }
      }

      @media screen and (min-width: 640px) {
        .swiper-container {
          width: 200px;
        }
      }
      
      @media screen and (min-width: 768px) {
        .swiper-container {
          width: 300px;
        }
      }