section#home-banner {
    background-color: transparent;
    background-image: linear-gradient(50deg, #003AAD 0%, #070F1F 100%);
    padding: 200px 0px 273px 0px;
}
.home-alin {
    /* align-items: center; */
}
section#home-banner .container {
    max-width: 1140px;
    margin: auto;
}
.widthcenter{
    width: 78%;
}
.slideb1 {
    padding-top: 90px;
}
.Home-slide h2 {
    text-align: left;
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 60px;
}
.Home-slide p {
    color: #D8D5D5;
    font-family: Arial , sans-serif;
    font-size: 19px;
    font-weight: 400;
    padding: 12px 0px;
}
.home-alin i {
    font-size: 14px;
}
.Home-slide span {
    color: #4af8d5;
}
.Banner-img {
    width: 100%;
    height: 100%;
}
.Banner-img img {
    width: 100%;
    max-width:85%;
}

button.know-btn {
    border: 2px solid #4af8d5;
    color: #4af8d5;
    font-size: 14px;
    line-height: 14px;
    padding: 12px 27px;
    border-radius: 5px;
    font-weight: 500;
    background-color: transparent;
}
.know-btn a {
    color: #4af8d5;
    text-decoration: none;
    font-weight: 600;
}
.bannerbtn {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    margin-right: 6%;
}
.bannerbtn:hover button.know-btn{
    background-color: #0F71F2 !important;
    border: 2px solid #0F71F2 !important;
}
button.view-btn:hover{
    border: 2px solid #0F71F2 !important;
    color: #019AFF !important;
}
.bannerbtn:hover .know-btn a {
    color: #fff;
}

/* banner section end */


/* Live section */
#live-section {
    background-color: transparent;
    background-image: linear-gradient(50deg, #003AAD 0%, #070F1F 100%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}
.Live-alin {
    align-items: center;
}
/* .Live-main {
    max-width: 1100px;
    margin: auto;
} */
.Live-main h3 {
    color: #FFFFFF;
font-family: Arial , sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1em;
    padding-bottom: 25px;
}
.Live-main p {
    color: #FFFFFF;
font-family: Arial , sans-serif;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.1em;
}
.Live-main span {
    color: #4af8d5;
}

.investhashtag{
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 800;
}

.Live-main h4 {
    color: #FFFFFF;
font-family: Arial , sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1em;
    padding-top: 10px;
}
.input-group {
    max-width: 355px;

}
   .newsletter {
    padding: 80px 0;
    background: #19beda;
    }
    .input-group-btn {
        background-color:#27F2B9;
        width: 33px;
    }
    .input-click{
        background-color: #27F2B9;
        width: 45px;
    }
   .newsform {
        padding-top:30px;
    }
    .form-control:focus {
        color: #fff;
        background-color: transparent;
        border-color: navajowhite;
        outline: 0;
        box-shadow: none;
    }
    .btn:hover {
        color: #07a8ff;
    }
   .form-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #fff;
        background-color: transparent;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.375rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        border: navajowhite;
        border-bottom: 2px solid #fff;
        border-color: #DDD6D6;
        border-width: 0px 0px 0.5px 0px;
        border-radius: 0px 0px 0px 0px;
    }
    .newsletter .content {
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 2; 
    } 
    .newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 40px; }
    .newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius:0;
    }
    .newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
    }
    .newsletter .content .btn {
    min-height: 50px; 
    border-radius:0;
    background: #243c4f;
    color: #fff;
    font-weight:600;
    }
/* Live section end */


/* Investing section start */
#Investing-sec {
    /* background-color: #F2F2F2; */
    padding: 80px 0px 80px 0px;
}
.Invest-HT {
    background-color: #F2F2F2;
}
#Investing-sec .section-head h2 {
    color: #1F286F;
    font-family: Arial , sans-serif;
    font-size: 40px;
    font-weight: 700;
}
#Investing-sec .learn-head h3 {
    color: #1F286F;
    font-size: 26px;
    font-weight: bold;
    padding-top: 40px;
    font-family: 'Arial Bold', sans-serif;
}
#Investing-sec .Investing-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    padding-top: 20px;
}
#Investing-sec .Investing-1 {
    padding: 50px 20px 50px 20px;
    border-radius: 10px;
}
.Investing-1 {
    background-color: #3FD8DE !important;
}
.invest-content{
    text-align: center;
}
#Investing-sec .invest-content h3 {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    font-family: 'Arial Bold', sans-serif;
}
#Investing-sec  .invest-content p {
    color: #FFFFFF;font-family: Arial , sans-serif;
    font-weight: 400;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 16px;
    line-height: 24px;

}
#Investing-sec .Invest-btn button {
    border: 1px solid #019AFF;
    background: #019AFF;
    font-size: 18px;
    line-height: 30px;
    border-radius: 27px;
    padding: 8px 25px;
}
#Investing-sec .Invest-btn button a {
    font-size: 16px;
    text-decoration: none;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #0F71F2;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 2px 0px;
    color: #fff;
    border-bottom:none;
    text-transform: uppercase;
}
.Investing-1:hover {
    background: #2556FB !important;
}
.view-btn {
    text-align: center;
    padding-top:25px;
}
button.view-btn{
    border: 2px solid #1A3073;
    font-size: 14px;
    line-height: 14px;
    padding: 14px 25px;
    border-radius: 5px;
    background-color: transparent;


}
button.view-btn {
    border: 2px solid #1A3073;
    color:#1A3073;
    font-size: 14px;
    line-height: 14px;
    padding: 14px 25px;
    border-radius: 5px;
    background-color: transparent;
}

.view-btn a {
    color: #1A3073;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}
/* Investing section end */

/* blog section start */
#blof-sec {
    background-color: #F2F2F2;
    padding: 0px 0px 80px 0px;
}
#blof-sec .blog-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
}
#blof-sec .learn-head h3 {
    color: #1F286F;
    font-size: 26px;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 20px;
}
.blog_item1 {
    background-color: #FFFFFF;
    border-radius: 0px;
    /* padding-bottom: 24px; */
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
}
.blod-des {
    padding: 20px;
}
.blogImg img {
    width: 100%;
    border-radius: 6px;
}
.blog-Ct h3 {
    color: #1F286F;
font-family: Arial , sans-serif;
    font-size: 20px;
    font-weight: 700;
}
button.Blog-btn {
    border: none;
    background: none;
}
button.Blog-btn a {
    color: #4af8d5;
    font-size: 12px;
    text-decoration: none;
    background: transparent;
    padding-top: 15px;
}

/* top news css start */

#Top-News {
    padding: 80px 0px 0px 0px;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 0px;
}
.top-story-title h2 {
    text-align: center;
}
.top-story-title {
    position: relative;
}
.top-story-title h2:before {
    content: '';
    position: absolute;
    top: 0;
    width: 4px;
    height: 25px;
    color: #4af8d5;
    background-color: #4af8d5;
    left: 0;
}
#Top-News .top-title h3 {
    color: #1f286f;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Arial Bold', sans-serif;
    padding-bottom: 30px;
    border-top: 4px solid #4af8d5;
    position: relative;
   
}
.top-title {
    position: relative;
    z-index: -2;
}
.titl-shape .top-title:before {
    content: '';
    position: absolute;
    top: 0;
    width: 4px;
    height: 40px;
    color: #4af8d5;
    background-color: #4af8d5;
    left: 0;
}
.top-sec {
    padding-top:5px;
    max-width: 1030px;
    margin: auto;
}
.titl-shape .top-title:after {
    content: '';
    position: absolute;
    top: 0;
    width: 4px;
    height: 40px;
    color: #4af8d5;
    background-color: #4af8d5;
    right: 0;
}

.shape h3 {
    text-align: center;
    background-color: #4af8d5;
    max-width: 156px;
    margin: -22px auto;
    padding: 10px;
    letter-spacing: .02em;
    text-transform: uppercase;
}

/* news title */
.TopAriclnew {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
}
.TopAriclnew span h2 {
    color: #4af8d5;
    font-size: 30px;
    line-height: 48px;
    font-weight: 600;
}

.TopAriclnew span:before {
    content: '';
    position: absolute;
    width: 438px;
    /* border-left: 4px solid #1F286F; */
    border-left: 4px solid #4af8d5;
    height: 70px;
    /* border-top: 4px solid #1F286F; */
    border-top: 4px solid #4af8d5;
    top: 38%;
}
.TopAriclnew span:after {
    content: '';
    position: absolute;
    width: 438px;
    border-right: 4px solid #4af8d5;
    height: 70px;
    border-top: 4px solid #4af8d5;
    top: 38%;
}
.TopAriclnew > span {
    position: relative;
    display: inline-block;
}
.TopAriclnew > span:before {
    right: 100%;
    margin-right: 15px;
}

.TopAriclnew > span:after {
    left: 100%;
    margin-left: 15px;
}
/* news title */
.Topnews-1 {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 20px;
}
.Topnew-img img {
    width: 100%;
    height: 100%;
}
.Topnews-item h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
font-family: 'Arial Bold', sans-serif;
    padding-top: 10px;
    color: #1F286F;
}
.Topnews-item p {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
    font-family: Arial , sans-serif;
}
.Topnews-item h4 {
    font-size: 14px;
    line-height: 24px;
    font-style:normal;
    color: #C79F62;
    font-weight: 700;
}
.Top-sub {
    padding-top: 15px;
}
h4.top-title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 0px;
    font-family: "Arial Narrow", Arial;
}
.topnew-2 {
    text-align: center;
}
.topnews2-img img {
    width: 100%;
    height: 387px;
    object-fit: fill;
}
.topnew-2 h3 {
    font-size: 30px;
    line-height: 33px;
    color: #1F286F;
    font-weight: 600;
    font-family: 'Arial Bold', sans-serif;
}
.topnew-2 h4 {
    font-size: 16px;
    padding-top: 25px;
    line-height: 26px;
    font-weight: 400;
    color: #C79F62;
}
.topnew-2 p {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
    font-style:normal;
}
.sub-author{
    font-size: 14px;
    line-height: 24px;
    color: #C79F62;
    font-weight: 700;
}
.Topnews-item:nth-child(2) {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #dddd;
    padding: 20px 0px;
}
.Topnew2-bottom {
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 50px;
    grid-gap: 25px;
    border-top: 1px solid #ddd;
    margin-top: 30px;
}
.Topnew2-bt h3 {
    font-size: 20px;
    line-height: 24px;
    color: #1f286f;
    font-weight: 700;
font-family: 'Arial Bold', sans-serif;
}
.Topnew2-bt h4 {
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    color: #C79F62;
    font-weight: 700;
}
.Topnew2-bt p {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
}
.Topnew2-bt img {
    width: 100%;
    max-width: 80%;
    height: 124px;
    object-fit: cover;
}

/* home news start */

.topNewsdata a {
    text-decoration: none;
}
.topNewsdata {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: left;
    grid-gap: 30px;
    max-width: 992px;
    margin: auto;
    height: 681px;
}
.topNewsdata .NewsImg2 img {
    width: 100%;
}
.topNewsdata h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Arial Bold', sans-serif;
    color: #1F286F;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.topNewsdata p {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
    font-family: Arial , sans-serif;
    color: #000;
}
.topNewsdata h4 {
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    color: #C79F62;
    font-weight: 700;
}
#Top-News .newdgrid {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.Homenews-grid {
    padding-top:0px;
}
.topNewsdata .NewsImg2 img {
    padding-right: 0px;
    padding-bottom: 15px;
}

.topNewsdata a:nth-child(2) {
    width: 525px;
    text-align: center;
}
.topNewsdata a:nth-child(2) .NewsImg2 img {
    height: 345px;
    width: 100%;
    object-fit: cover;
}
.topNewsdata a:nth-child(2) h3 {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.topNewsdata a:nth-child(4) {
    margin-top: -200px;
}
.topNewsdata a:nth-child(4) img {
    display: none;
}

.topNewsdata a:nth-child(5) img {
    float: right;
    width: 129px;
    padding-left: 10px;
}
.topNewsdata a:nth-child(7) {
    margin-top: -190px;
}
.topNewsdata a:nth-child(7) img {
    display: none;
}
.topNewsdata a:nth-child(6) {
    margin-top: -230px;
}
.topNewsdata a:nth-child(6) img {
    display: none;
}
.topNewsdata a:nth-child(6) {
    margin-top: -200px;
}
.topNewsdata a:nth-child(9) img {
    display: none;
}
.topNewsdata a:nth-child(-n+9) {
    display: block;
}
.topNewsdata a:nth-child(9) {
    margin-top: -190px;
}
.topNewsdata a:nth-child(8) {
    background-color: gray;
    visibility: hidden;
}
.topNewsdata a{
    display:none;
}
/* .form_bg::selection{
    background-color: white !important;
} */
/* top news css end */

/* responsive */


@media (max-width:1024px) {
    .topNewsdata a:nth-child(4) {
        margin-top: -130px;
    }
    .topNewsdata a:nth-child(7) {
        margin-top: -70px;
    }
    .topNewsdata a:nth-child(6) {
        margin-top: -130px;
    }
    .topNewsdata a:nth-child(9) {
        margin-top: -50px;
    }
    #Top-News {
        margin-bottom: 0px;
    }
}


@media (max-width:1200px) {
    .container {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
    .News_sub h3:after {
        margin-left: 0px;
        width: 200px;
    }
    .Home-slide h2 {
        font-size: 45px;
        line-height: 52px;
    }
    .Banner-img img {
        width: 100%;
        max-width: 60%;
    }
}
@media (max-width:992px){
   #home-banner {
        padding: 120px 0px 120px 0px;
    }
    .News_sub h3:after {
        margin-left: 0px;
    }
    section#home-banner {
        background-color: transparent;
        background-image: linear-gradient(50deg, #003AAD 0%, #070F1F 100%);
        padding: 120px 0px 120px 0px;
    }
    .News_sub h3:after {
        margin-left: 0px !important;
        width: 116px;
    }
    .Newsleft {
        padding-right: 20px;
    }
    .newsR-ct h3 {
        position: relative;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: auto;
}
.newsR-ct p {
    -webkit-line-clamp: 3;
}
.blogR-img img {
    height: 90px;
}
.topnew-2 h3 {
    font-size: 25px;
    line-height: 32px;
}
.Topnews-item h3 {
    font-size: 18px;
    line-height: 24px;
}
.topnews2-img img {
    object-fit: cover;
}
.Topnew2-bottom {
    grid-template-columns: 60% 33%;
}
#Top-News {
    padding: 40px 0px 40px 0px;
}
.topNewsdata a:nth-child(2) {
    width: 475px;
}
.topNewsdata a:nth-child(4) {
    margin-top: -170px;
}
.topNewsdata a:nth-child(7) {
    margin-top: -110px;
}
.topNewsdata a:nth-child(6) {
    margin-top: -170px;
}
.topNewsdata a:nth-child(9) {
    margin-top: -80px;
}
.topNewsdata h3 {
    font-size: 18px;
    line-height: 24px;
}
}
@media (max-width:867px){
    .topNewsdata a:nth-child(2) {
        width: 380px;
    }
    .topNewsdata a:nth-child(2) .NewsImg2 img {
        height: auto;
        width: 100%;
        object-fit: cover;
    }
    .topNewsdata a:nth-child(4) {
        margin-top: -110px;
    }
    .topNewsdata a:nth-child(7) {
        margin-top: -50px;
    }
    .topNewsdata a:nth-child(6) {
        margin-top: -110px;
    }
    .topNewsdata a:nth-child(9) {
        margin-top: -50px;
    }
    .topNewsdata h3 {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width:767px){
.home-alin {
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
}
.Home-slide h2 {
    text-align: center;
    
}
.Banner-img img {
    max-width: 40%;
    padding-bottom: 20px;
}
.news-img {
    height: 350px;
}

section#New-section {
    padding: 45px 0px 45px 0px;
}
.news-btn {
    padding-top: 30px;
}
#Top-News .top-title h3 {
    text-align: center;
}
.Topnew-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.Topnew2-bottom {
    padding-top: 30px;
}
.Live-ct {
    text-align: center;
}
.input-group {
    max-width: 355px;
    margin: auto;
    padding-bottom: 30px;
}
#live-section {
    padding: 45px 0px 45px 0px;
}
#Investing-sec {
    padding: 45px 0px 45px 0px;
}
#blof-sec .learn-head h3 {  
    text-align: center;
}
#blof-sec .blog-grid {
    grid-template-columns: repeat(2,1fr);
}
#blof-sec .learn-head h3 {
    padding-top: 0px;
}
#Investing-sec .Investing-grid {
    grid-template-columns: repeat(2,1fr);
}
.section-head {
    text-align: center;
}
#Investing-sec .learn-head h3 {
    padding-top: 0px;
    text-align: center;
}
.topNewsdata a:nth-child(2) {
    width: 100%;
}
.topNewsdata a:nth-child(2) h3 {
    font-size: 18px;
    line-height: 28px;
}
}


@media (max-width:667px){
.new-Head h3 {
    font-size: 30px;
    line-height: 46px;
    text-align: center;
}
.Newsleft {
    padding-right: 0px;
}
.nes-des {
    text-align: center;
}
.News_sub h3 {
    text-align: center;
}
#Investing-sec .Investing-grid {
    grid-template-columns: repeat(1,1fr);
}
.Topnew2-bottom {
    grid-template-columns: 100%;
    display: grid;
    padding-bottom: 30px;
}
.Topnew2-bt img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.Home-slide h2 {
    font-size: 40px;
    line-height: 52px;
}
#live-section {
    margin: 0px 0px 30px 0px;
}
.topNewsdata {
    grid-template-columns: repeat(1,1fr);
    height: auto;
    padding-bottom: 10px;
}
.topNewsdata a:nth-child(5) img {
    float: left;
    width: 100%;
    padding-left: 0px;
}
.NewsImg2 img {
    width: 100%;
}
.topNewsdata a:nth-child(4) , .topNewsdata a:nth-child(9)  {
    margin-top: 0px;
}
.topNewsdata a:nth-child(2) .NewsImg2 img {
    max-width: 185px;
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.topNewsdata a:nth-child(4) img {
    display: block !important;
}
.topNewsdata a:nth-child(6) img {
    display: block !important;
}
.topNewsdata a:nth-child(4) img {
    display: block !important;
}
.topNewsdata a:nth-child(6) img {
    display: block !important;
}
.topNewsdata a:nth-child(7) img {
    display: block !important;
}
.topNewsdata a:nth-child(9) img {
    display: block !important;
}
.topNewsdata a:nth-child(6) {
    margin-top: 0px;
}
.topNewsdata a:nth-child(8) {
    visibility: hidden;
    display: none;
}
.topNewsdata a img {
    float: left;
    max-width: 185px;
    height: 140px;
}
.topNewsdata .NewsImg2 img {
    padding-right: 0px;
    margin-right: 15px;
}
.topNewsdata a:nth-child(2) {
    text-align: left;
}
.topNewsdata a:nth-child(2) h3 {
    text-align: left;
}
.topNewsdata a:nth-child(7) {
    margin-top: 0px;
}
.topNewsdata a:nth-child(7) {
    margin-top: 0px;
}
.Homenews-grid {
    padding-top: 10px;
}



}


@media (max-width:500px){
   
    #blof-sec .blog-grid {
        grid-template-columns: repeat(1,1fr);
    }
    .topnews2-img img {
        width: 100%;
        height: 100%;
        object-fit: cover !important;
    }
    .Home-slide h2 {
        font-size: 30px;
        line-height: 36px;
    }
    .topNewsdata a img {
        float: inherit;
        max-width: 100%;
    }
 }