section#home-banner {
    background-color: transparent;
    background-image: linear-gradient(50deg, #003AAD 0%, #070F1F 100%);
    padding: 200px 0px 150px 0px;
}
.home-alin {
    align-items: center;
}

.Home-slide h2 {
    text-align: left;
    font-family: "Montserrat", Sans-serif;
    font-size: 65px;
    font-weight: 700;
    color: #fff;
}
.Home-slide p {
    color: #D8D5D5;
    font-family: "Open Sans", Sans-serif;
    font-size: 19px;
    font-weight: 400;
}

.Home-slide span {
    color: #28F2B9;
}
.Banner-img {
    width: 100%;
    height: 100%;
    text-align:center;
}
.Banner-img img {
    width: 100%;
    max-width:80%;
}

button.know-btn {
    border: 2px solid #27F2B9;
    font-size: 14px;
    line-height: 14px;
    padding: 14px 25px;
    border-radius: 5px;
    background-color: transparent;
}
.know-btn a {
    color: #27F2B9;
    text-decoration: none;
    font-weight: 600;
}
.bannerbtn {
    padding-top: 20px;
}
.bannerbtn:hover button.know-btn{
    background-color: #0F71F2;
    border: 2px solid #0F71F2;
}
.bannerbtn:hover .know-btn a {
    color: #fff;
}



/* news section */
section#New-section {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 30px 0px;
}
.news-img {
    background-image: url(./Images/News-img2.webp);
    width: 100%;
    background-size: cover;
    height: 760px;
    background-position: bottom;
    display: block;
    overflow: hidden;
}
.Newsleft {
    padding-right: 50px;
}
.new-Head h3 {
    color: #173592;
    font-size: 40px;
    font-weight: bold;
    line-height: 56px;
}
.nes-des {
    padding-top: 20px;
}
.News-title h2 {
    font-size: 18px;
    color: #E34C66;
    font-weight: 700;
}
.News-title h2:hover {
    color: #333366;
}
.News-ct p {
    font-size: 16px;
    color: #333333;
    line-height: 26px;
    font-weight: 400;
}
.News-box {
    display: grid;
    grid-template-columns: 34% 60%;
    grid-gap: 20px;
    border-bottom: 1px solid #ddd;
    padding-top: 15px;
}
.row.Newalin {
    align-items: baseline;
}
.blogR-img img {
    height: 125px;
    object-fit: cover;
    background-size: cover;
}
.newsR-ct p {
    font-size: 16px;
    line-height: 26px;
} 
.News_sub h3 {
    color: #1A3073;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    position: relative;
}
.newsR-ct h3 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    color: #000;
    position: relative;
}

.newsR-ct p {
    font-size: 16px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.news-btn {
    padding-top:145px;
}
.news-btn button {
    border: none;
    background: none;
    font-size: 18px;
    line-height: 30px;
}
.news-btn button a {
    font-size: 16px;
    text-decoration: none;
    border-bottom: 2px solid;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #0F71F2;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 2px 0px;
}
.News_sub h3:after {
    content: '';
    width: 260px;
    height: 2px;
    background: #28F2B9;
    position: absolute;
    top: 12px;
    margin-left: 10px;
}
.news-btn a {
    color: #0f71f2;
}


/* news section */


/* Live section */
#live-section {
    background-color: transparent;
    background-image: linear-gradient(50deg, #003AAD 0%, #070F1F 100%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}
.Live-alin {
    align-items: center;
}
.Live-main h3 {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1em;
}
.Live-main p {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1em;
}
.Live-main span {
    color: #27F2B9;
}
.Live-main h4 {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1em;
}
.input-group {
    max-width: 355px;
}
   .newsletter {
    padding: 80px 0;
    background: #19beda;
    }
    .input-group-btn {
        background-color: #27F2B9;
        width: 33px;
    }
   .newsform {
        padding-top:30px;
    }
    .form-control:focus {
        color: #fff;
        background-color: transparent;
        border-color: navajowhite;
        outline: 0;
        box-shadow: none;
    }
    .btn:hover {
        color: #07a8ff;
    }
   .form-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #fff;
        background-color: transparent;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.375rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        border: navajowhite;
        border-bottom: 2px solid #fff;
        border-color: #DDD6D6;
        border-width: 0px 0px 0.5px 0px;
        border-radius: 0px 0px 0px 0px;
    }
    .newsletter .content {
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 2; 
    } 
    .newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 40px; }
    .newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius:0;
    }
    .newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
    }
    .newsletter .content .btn {
    min-height: 50px; 
    border-radius:0;
    background: #243c4f;
    color: #fff;
    font-weight:600;
    }
/* Live section end */


/* Investing section start */
#Investing-sec {
    background-color: #F2F2F2;
    padding: 80px 0px 80px 0px;
}
#Investing-sec .section-head h2 {
    color: #1A3073;
    font-family: "Montserrat", Sans-serif;
    font-size: 40px;
    font-weight: 700;
}
#Investing-sec .learn-head h3 {
    color: #1A3073;
    font-size: 26px;
    font-weight: 700;
    padding-top: 40px;
}
#Investing-sec .Investing-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    padding-top: 20px;
}
#Investing-sec .Investing-1 {
    padding: 50px 20px 50px 20px;
    border-radius: 10px;
}
#Investing-sec .Investing-1:nth-child(1) {
    background-color: #0F71F2;
}
#Investing-sec .Investing-1:nth-child(2) {
    background-color: #0F71F2;
}
#Investing-sec .Investing-1:nth-child(3) {
    background-color: #0F71F2;
}
#Investing-sec .invest-content h3 {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
}
#Investing-sec  .invest-content p {
    color: #FFFFFF;
    font-family: "Open Sans", Sans-serif;
    font-weight: 400;
    padding-bottom: 30px;
    padding-top: 30px;

}
#Investing-sec .Invest-btn button {
    border: 1px solid #1A3073;
    background: #1A3073;
    font-size: 18px;
    line-height: 30px;
    border-radius: 27px;
    padding: 8px 25px;
}
#Investing-sec .Invest-btn button a {
    font-size: 16px;
    text-decoration: none;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #0F71F2;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 2px 0px;
    color: #fff;
    border-bottom:none;
    text-transform: uppercase;
}

.view-btn {
    text-align: center;
    padding-top: 35px;
}
button.view-btn{
    border: 2px solid #1A3073;
    font-size: 14px;
    line-height: 14px;
    padding: 14px 25px;
    border-radius: 5px;
    background-color: transparent;
}
button.view-btn {
    border: 2px solid #1A3073;
    font-size: 14px;
    line-height: 14px;
    padding: 14px 25px;
    border-radius: 5px;
    background-color: transparent;
}
.view-btn a {
    color: #1A3073;
    text-decoration: none;
    font-weight: 600;
}
/* Investing section end */

/* blog section start */
#blof-sec {
    background-color: #F2F2F2;
    padding: 0px 0px 80px 0px;
}
#blof-sec .blog-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
}
#blof-sec .learn-head h3 {
    color: #1A3073;
    font-size: 26px;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 20px;
}
.blog_item1 {
    background-color: #FFFFFF;
    border-radius: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.blod-des {
    padding: 20px;
}
.blogImg img {
    width: 100%;
}
.blog-Ct h3 {
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 700;
}
button.Blog-btn {
    border: none;
    background: none;
}
button.Blog-btn a {
    color: #27F2B9;
    font-size: 12px;
    text-decoration: none;
    background: transparent;
}

/* top news css start */

#Top-News {
    padding: 80px 0px 80px 0px;
}
#Top-News  .top-title h3 {
    color: #1A3073;
    font-size: 26px;
    font-weight: 700;
    padding-top: 0px;
    padding-bottom: 10px;
}
.Topnews-1 {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
}
.Topnew-img img {
    width: 100%;
    height: 100%;
}
.Topnews-item h3 {
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    font-weight: 700;
    font-style: normal;
    font-family: 'Montserrat';
    padding-top: 10px;
}
.Topnews-item p {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
}
.Topnews-item h4 {
    font-size: 14px;
    line-height: 24px;
    font-style: italic;
    color: #333333;
    font-weight: 700;
}
h4.top-title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0px;
}
.topnew-2 {
    text-align: center;
}
.topnews2-img img {
    width: 100%;
    height: 387px;
    object-fit: fill;
}
.topnew-2 h3 {
    font-size: 36px;
    line-height: 36px;
    color: #333333;
    font-weight: 600;
}
.topnew-2 h4 {
    font-size: 16px;
    padding-top: 25px;
    line-height: 26px;
    font-weight: 400;
}
.topnew-2 p {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
    font-style: italic;
}
.sub-author{
    font-size: 14px;
    line-height: 24px;
    font-style: italic;
    color: #333333;
    font-weight: 700;
}
.Topnews-item:nth-child(2) {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #dddd;
    padding: 20px 0px;
}
.Topnew2-bottom {
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 50px;
    grid-gap: 25px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}
.Topnew2-bt h3 {
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    font-weight: 700;
}
.Topnew2-bt h4 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
.Topnew2-bt p {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
}
.Topnew2-bt img {
    width: 100%;
    max-width: 80%;
    height: 124px;
    object-fit: cover;
}
/* top news css end */

/* responsive */





@media (max-width:1200px) {
    .container {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
    .News_sub h3:after {
        margin-left: 0px;
        width: 200px;
    }
    .Home-slide h2 {
        font-size: 45px;
        line-height: 52px;
    }
    .Banner-img img {
        width: 100%;
        max-width: 60%;
    }
}
@media (max-width:992px){
   #home-banner {
        padding: 120px 0px 120px 0px;
    }
    .News_sub h3:after {
        margin-left: 0px;
    }
    section#home-banner {
        background-color: transparent;
        background-image: linear-gradient(50deg, #003AAD 0%, #070F1F 100%);
        padding: 120px 0px 120px 0px;
    }
    .News_sub h3:after {
        margin-left: 0px !important;
        width: 116px;
    }
    .Newsleft {
        padding-right: 20px;
    }
    .newsR-ct h3 {
        position: relative;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: auto;
}
.newsR-ct p {
    -webkit-line-clamp: 3;
}
.blogR-img img {
    height: 90px;
}
.topnew-2 h3 {
    font-size: 25px;
    line-height: 32px;
}
.Topnews-item h3 {
    font-size: 18px;
    line-height: 24px;
}
.topnews2-img img {
    object-fit: cover;
}
.Topnew2-bottom {
    grid-template-columns: 60% 33%;
}
#Top-News {
    padding: 40px 0px 40px 0px;
}
}

@media (max-width:767px){
.home-alin {
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
}
.Home-slide h2 {
    text-align: center;
    
}
.Banner-img img {
    max-width: 40%;
    padding-bottom: 20px;
}
.news-img {
    height: 350px;
}

section#New-section {
    padding: 45px 0px 45px 0px;
}
.news-btn {
    padding-top: 30px;
}
#Top-News .top-title h3 {
    text-align: center;
}
.Topnew-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.Topnew2-bottom {
    padding-top: 30px;
}
.Live-ct {
    text-align: center;
}
.input-group {
    max-width: 355px;
    margin: auto;
    padding-bottom: 30px;
}
#live-section {
    padding: 45px 0px 45px 0px;
}
#Investing-sec {
    padding: 45px 0px 45px 0px;
}
#blof-sec .learn-head h3 {  
    text-align: center;
}
#blof-sec .blog-grid {
    grid-template-columns: repeat(2,1fr);
}
#blof-sec .learn-head h3 {
    padding-top: 0px;
}
#Investing-sec .Investing-grid {
    grid-template-columns: repeat(2,1fr);
}
.section-head {
    text-align: center;
}
#Investing-sec .learn-head h3 {
    padding-top: 0px;
    text-align: center;
}
}



@media (max-width:667px){
.new-Head h3 {
    font-size: 30px;
    line-height: 46px;
    text-align: center;
}
.Newsleft {
    padding-right: 0px;
}
.nes-des {
    text-align: center;
}
.News_sub h3 {
    text-align: center;
}
#Investing-sec .Investing-grid {
    grid-template-columns: repeat(1,1fr);
}
.Topnew2-bottom {
    grid-template-columns: 100%;
    display: grid;
    padding-bottom: 30px;
}
.Topnew2-bt img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.Home-slide h2 {
    font-size: 40px;
    line-height: 52px;
}
}


@media (max-width:500px){
   
    #blof-sec .blog-grid {
        grid-template-columns: repeat(1,1fr);
    }
    .topnews2-img img {
        width: 100%;
        height: 100%;
        object-fit: cover !important;
    }
    .Home-slide h2 {
        font-size: 30px;
        line-height: 36px;
    }
 }