
/* blog banner start */


#Learn-banner .banner-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../component/Images/learn-Banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

#Learn-banner .Banner-main {
    text-align: center;
    height: 400px;
}
#Learn-banner.Banner-title h2 {
    font-family: "Montserrat", Sans-serif;
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 76px;
}
#Learn-banner .Banner-title span {
    display: block;
    color: #fff;
}
.Newtext-divider {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    font-family: 'Arial Bold', sans-serif;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #1F286F;   
  }
  .Newtext-divider::before {
    margin-right: var(--text-divider-gap);
    
  }
  .Newtext-divider:after {
    margin-left: var(--text-divider-gap);
    content: '';
    height: 4px;
    background-color: #4af8d5;
    flex-grow: 1;
  }
  #Learn-slider .swiper-button-prev:after{
    font-size: 12px;
  }
  #Learn-slider .swiper-button-next:after{
    font-size: 12px;
  }
  #Learn-slider .swiper-button-prev{
 margin-top: 55px;
  }
/* Learn About section start */
section#LearnAbout-sec {
    background-image: url(../component/Images/learn-banner-bg3.png);   
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F3F0E6;
    max-height: 578px;
}
.learnbtn{
    display: flex;
    justify-content: center;
}

.learnabout {
    padding: 150px 0px 230px 0px;
}
.L-aboutAlin {
    align-items: center;
    text-align: center;
    max-width: 448px;
    margin: auto;
}
.learnabout h3 {
    color: #1A3073;
    font-size: 137px;
    line-height: 90px;
    font-weight: 400;
    font-family: 'Arial Bold', sans-serif;
    padding-bottom: 15px;
}
.L-aboutAlin p {
    font-size: 24px;
    line-height: 36px;
    padding-top: 20px;
}
.learn-body {
    background-color: #F3F0E6;
}
section#investing-learn {
    padding: 60px 0px 60px 0px;
    overflow: hidden;
}
.learninvesAlign {
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: #1F286F;
    color: #fff;
}
.l-invesleft {
    width: 50%;
    text-align: center;
}
.l-investdes {
    padding: 0px 30px;
}
.l-investdes  h3 {
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Arial Bold', sans-serif;
}
.l-invesleft.l-investdes h4 {
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 30px;
}
.l-investdes p {
    font-size: 18px;
    line-height: 24px;
}
.learninvestimg img {
    border-radius: 0px 10px 10px 0px;
}
.iframeclass{
   height: 400px;
   width: 100%;
}
button.neain-invst {
    background-color: transparent;
    border: navajowhite;
    color: #fff;
    font-weight: 700;
}
/* Topic sec section start */

#topic-sec {
    padding:0px 0px 60px 0px;
}
#topic-sec .Newstab-cat {
    padding-top: 30px;
}
#topic-sec .nav-tabs .nav-link {
    color: #000;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    font-family: 'Arial Bold', sans-serif;
    font-weight: 600;
}
#topic-sec .Newstab-cat ul li {
    padding-right: 15px;
}
#topic-sec .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 25px !important;
    border: 1px solid #000;
}
#topic-sec .letest-St-date {
    display: none;
}
#topic-sec  .view-btn {
    text-align: right;
}
#topic-sec  button.view-btn {
    border: none;
}
#topic-sec .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff !important;
    border-color: #1F286F;
    color: #fff !important;
    border-radius: 25px;
    background-color: #1F286F;
}
#topic-sec.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: #fff !important;
    border-color: #1F286F;
    border-radius: 25px;
    background-color: #1F286F;
}
#topic-sec .nav-tabs {
    border-bottom: 1px solid transparent;
}

#topic-sec .letest-Story-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    padding-top: 25px;
    grid-row-gap: 50px;
}
.bottom-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    padding-top: 55px;
    grid-row-gap: 100px;
}

.bottom-grid .letest-Img img{
    border-radius: 15px;
    padding-bottom: 10px;
    height: 265px;
    object-fit: cover;
}

#topic-sec .letest-StImg img {
    border-radius: 15px;
    padding-bottom: 10px;
    height: 360px;
    object-fit: cover;
}
#topic-sec .letest-Story-grid a {
    text-decoration: none;
}
#topic-sec  .letestSt-cat h3 {
    font-size: 24px;
    line-height: 36px;
    color: #212529;
    font-family: Arial , sans-serif;
    font-weight: 600;
}
#topic-sec .letest-St-date p {
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    color: #C79F62;
    font-weight: 700;
}
 
#Learn-slider .swiper-button-prev {
    background-color: transparent !important;
    border: none !important;
}
#Learn-slider .swiper {
    width: 100%;
}
#Learn-slider .swiper-button-next{
    background-color: transparent !important;
    border: none !important;
}
#Learn-slider .swiper-slide a {
    width: 75%;
}
/* Topic section end */

/* tranding-section start */



/* Learn categroies start */
section#learnCat-sec {
    padding: 60px 0px 60px 0px;
}
#learnCat-sec .section-head {
    text-align: center;
}
#learnCat-sec .section-head h2 {
    color: #1F286F;
    font-family: Arial , sans-serif;
    font-size: 40px;
    font-weight: 700;
}

#learnCat-sec .learncat-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    max-width: 992px;
    margin: auto;
    padding-top: 25px;
}
.learnCat1 {
    padding: 28px 15px 24px 15px;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 15%);
    border-radius: 6px;
    background-color: #fff;
    text-align: center;
}
.learnCat1 h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Arial Bold', sans-serif;
    color: #1F286F;
    padding: 10px 0px;
}
.learnCat1 p {
    color: #616161;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    margin-bottom: 5px;
    font-family: Arial , sans-serif;
}

/* Learn categroies End */
  /* tranding start */
  #tranding-section {
    padding: 60px 0px 30px 0px;
}
.tranding_1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding:25px 0px 0px 0px;
}
.traningimg {
    padding-bottom: 20px;
}
.tranding-item1 a{
    color: #1F286F;
    font-family: Arial , sans-serif;
    font-size: 25px;
    line-height: 26px;
    font-weight: 700;
    text-decoration: none;
}
.traningimg img:hover {
    transform: scale(0.9);
    transition: ease-in-out 0.5s;
}
/* tranding-section End */

/* top views -section start */
#Topview-sec {
    padding: 0px 0px 30px 0px;
}
#Topview-sec .tranding_1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding:25px 0px 0px 0px;
}
#Topview-sec .traningimg {
    padding-bottom: 20px;
}
#Topview-sec .tranding-item1 a{
    color: #1F286F;
    font-family: Arial , sans-serif;
    font-size: 25px;
    line-height: 26px;
    font-weight: 700;
    text-decoration: none;
}
#Topview-sec .traningimg img:hover {
    transform: scale(0.9);
    transition: ease-in-out 0.5s;
}

/* top views section end */


/* recommand-sec -section start */
#recommand-sec {
    padding: 30px 0px 60px 0px;
}
#recommand-sec .tranding_1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding:25px 0px 0px 0px;
}
#recommand-sec .traningimg {
    padding-bottom: 20px;
}
#recommand-sec .tranding-item1 a{
    color: #1F286F;
    font-family: Arial , sans-serif;
    font-size: 25px;
    line-height: 26px;
    font-weight: 700;
    text-decoration: none;
}
#recommand-sec .traningimg img:hover {
    transform: scale(0.9);
    transition: ease-in-out 0.5s;
}

/* recommand-sec section end */



/* responsive */
@media (max-width:1200px) {
#Learn-banner .Banner-main {
    height: 20px;
}
.Banner-title h2 {
    font-size: 52px;
    line-height: 61px;
}
}
@media (max-width:992px) {
    .Banner-title h2 {
        font-size: 50px;
        line-height: 56px;
    }
    #Learn-banner .Banner-main {
        height: 250px;
    }
    .tranding-item1 a {
        font-size: 20px;
        line-height: 24px;
    }
    #Topview-sec .tranding-item1 a {
        font-size: 20px;
        line-height: 24px;
    }
    #recommand-sec .tranding-item1 a {
        font-size: 20px;
        line-height: 24px;
    }
    .learninvesAlign {
        flex-direction: column;
        text-align: center;
        padding: 40px 0px;
    }
    .learnabout {
        padding: 150px 0px 150px 0px;
    }
    .l-invesleft {
        width: 100%;
    }   
    
    .learnabout h3 {
        font-size: 60px;
        line-height: 90px;
        padding-bottom: 0px;
    }
  }

  @media (max-width:767px) {
    .Newtext-divider {
        font-size: 31px;
        line-height: 30px;
        padding-top: 20px;
    }
    #Topview-sec .traningimg {
        padding-bottom: 6px;
    }
    .traningimg {
        padding-bottom: 6px;
    }
    #recommand-sec .traningimg {
        padding-bottom: 6px;
    }
    #tranding-section {
        padding: 30px 0px 30px 0px;
    }
    .learnabout {
        padding: 110px 0px 110px 0px;
    }
    .l-investdes {
        padding-bottom: 30px;
    }
}


@media (max-width:667px) {
   
    .Banner-title h2 {
        font-size: 35px;
        line-height: 46px;
    }
    #Learn-banner .Banner-main {
        height: 230px;
    }
    #tranding-section {
        padding: 30px 0px 30px 0px;
    }
    .tranding_1 {
        grid-template-columns: repeat(2,1fr);
    }
    #Topview-sec .tranding_1 {
        grid-template-columns: repeat(2,1fr);
    }
    #recommand-sec .tranding_1 {
        grid-template-columns: repeat(2,1fr);
    }
}


@media (max-width:400px) {
    .tranding_1 {
        grid-template-columns: repeat(1,1fr);
    }
    #Topview-sec .tranding_1 {
        grid-template-columns: repeat(1,1fr);
    }
    #recommand-sec .tranding_1 {
        grid-template-columns: repeat(1,1fr);
    }
    .tranding-item1 {
        text-align: center;
    }
        
}


