
/* blog banner start */
section#Learn-banner {
    padding-bottom: 30px;
}

#Learn-banner .banner-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../component/Images/learn-Banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

#Learn-banner .Banner-main {
    text-align: center;
    height: 400px;
}
#Learn-banner.Banner-title h2 {
    font-family: "Montserrat", Sans-serif;
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 76px;
}
#Learn-banner .Banner-title span {
    display: block;
    color: #fff;
}
.Newtext-divider {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    font-family: 'Arial Bold', sans-serif;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #1F286F;   
  }
  .Newtext-divider::before {
    margin-right: var(--text-divider-gap);
    
  }
  .Newtext-divider:after {
    margin-left: var(--text-divider-gap);
    content: '';
    height: 4px;
    background-color: #4af8d5;
    flex-grow: 1;
  }


/* tranding-section start */

  /* tranding start */
  #tranding-section {
    padding: 60px 0px 30px 0px;
}
.tranding_1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding:25px 0px 0px 0px;
}
.traningimg {
    padding-bottom: 20px;
}
.tranding-item1 a{
    color: #1F286F;
    font-family: Arial , sans-serif;
    font-size: 25px;
    line-height: 26px;
    font-weight: 700;
    text-decoration: none;
}
.traningimg img:hover {
    transform: scale(0.9);
    transition: ease-in-out 0.5s;
}
/* tranding-section End */

/* top views -section start */
#Topview-sec {
    padding: 0px 0px 30px 0px;
}
#Topview-sec .tranding_1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding:25px 0px 0px 0px;
}
#Topview-sec .traningimg {
    padding-bottom: 20px;
}
#Topview-sec .tranding-item1 a{
    color: #1F286F;
    font-family: Arial , sans-serif;
    font-size: 25px;
    line-height: 26px;
    font-weight: 700;
    text-decoration: none;
}
#Topview-sec .traningimg img:hover {
    transform: scale(0.9);
    transition: ease-in-out 0.5s;
}

/* top views section end */


/* recommand-sec -section start */
#recommand-sec {
    padding: 30px 0px 60px 0px;
}
#recommand-sec .tranding_1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding:25px 0px 0px 0px;
}
#recommand-sec .traningimg {
    padding-bottom: 20px;
}
#recommand-sec .tranding-item1 a{
    color: #1F286F;
    font-family: Arial , sans-serif;
    font-size: 25px;
    line-height: 26px;
    font-weight: 700;
    text-decoration: none;
}
#recommand-sec .traningimg img:hover {
    transform: scale(0.9);
    transition: ease-in-out 0.5s;
}

/* recommand-sec section end */



/* responsive */
@media (max-width:992px) {
    .Banner-title h2 {
        font-size: 50px;
        line-height: 56px;
    }
    #Learn-banner .Banner-main {
        height: 250px;
    }
    .tranding-item1 a {
        font-size: 20px;
        line-height: 24px;
    }
    #Topview-sec .tranding-item1 a {
        font-size: 20px;
        line-height: 24px;
    }
    #recommand-sec .tranding-item1 a {
        font-size: 20px;
        line-height: 24px;
    }
  }

  @media (max-width:767px) {
    .Newtext-divider {
        font-size: 31px;
        line-height: 30px;
        padding-top: 20px;
    }
    #Topview-sec .traningimg {
        padding-bottom: 6px;
    }
    .traningimg {
        padding-bottom: 6px;
    }
    #recommand-sec .traningimg {
        padding-bottom: 6px;
    }
}


@media (max-width:667px) {
   
    .Banner-title h2 {
        font-size: 35px;
        line-height: 46px;
    }
    #Learn-banner .Banner-main {
        height: 200px;
    }
    #tranding-section {
        padding: 30px 0px 30px 0px;
    }
    .tranding_1 {
        grid-template-columns: repeat(2,1fr);
    }
    #Topview-sec .tranding_1 {
        grid-template-columns: repeat(2,1fr);
    }
    #recommand-sec .tranding_1 {
        grid-template-columns: repeat(2,1fr);
    }
}


@media (max-width:400px) {
    .tranding_1 {
        grid-template-columns: repeat(1,1fr);
    }
    #Topview-sec .tranding_1 {
        grid-template-columns: repeat(1,1fr);
    }
    #recommand-sec .tranding_1 {
        grid-template-columns: repeat(1,1fr);
    }
    .tranding-item1 {
        text-align: center;
    }
        
}


